@{
    ViewData["Title"] = "Home Page";
}

<div id="app"></div>

@section Scripts {
     <script type="riot/tag" src="~/components/app.tag"></script>

     <script>
        function EventBus() {
            riot.observable(this);
        }
        var bus = new EventBus();

         document.addEventListener('DOMContentLoaded', () => {
             riot.mount('#app', 'app', { eventbus: bus, title: 'Steamline.co' });
         });
     </script>
}